<section class="container">
    <mat-card>
        <mat-card-content class="content d-flex flex-column text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg ">
                        <h2 i18n>Hello! I'm Vinicius</h2>
                        <p>Known as Vinicius Dionizio in the fighting world.</p>
                        <img ngSrc="../../../assets/vinicius.jpeg" width="300" height="200">
                        <p>Fought in many important events in kickboxing</p>
                        <p style="font-size: .75em; opacity: .75;">
                            In the world of software development, staying up-to-date with the latest technologies,
                            frameworks, and
                            methodologies is essential for success. My dedication to learning every day help me to
                            thrive in
                            this
                            dynamic field.
                            Whether it's exploring new programming languages, mastering advanced
                            algorithms, or diving deep into software architecture principles, there's always something
                            new
                            to
                            discover and incorporate into my skill set.
                        </p>
                        <p style="font-size: .75em; opacity: .75;">
                            Moreover, the discipline and focus I've cultivated through my experiences in kickboxing can
                            translate seamlessly. The ability to stay calm under pressure,
                            persevere through challenges, and maintain a strategic mindset are all valuable traits that
                            can
                            contribute to effectiveness in solving complex technical problems and delivering
                            high-quality
                            software solutions.</p>
                    </div>
                    <div class="col-12 col-lg my-auto">
                        <app-contact></app-contact>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>