<header>
  <nav class="flex flex-row justify-between" *ngIf="false">
    <ul class="flex flex-row justify-stretch">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="about">About me</a></li>
      <li><a routerLink="contact">Contact</a></li>
    </ul>
    <button lupumButton color="secondary" (click)="onClick($event)">Contact</button>
  </nav>
</header>

<main>
  <section class="flex flex-col">
    <h2>Not yet implemented!</h2>


    <article>I'm learning about tailwind css to create my profile page</article>
  </section>
</main>


<footer>
</footer>